body {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #EDF2EF;
    opacity: 0;
    animation: root 1.5s forwards;
    z-index: 0;
}

@keyframes root {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#header {
    position: absolute;
    z-index: 2;
    margin: 2px;
    min-width: 25px;
    min-height: 98.5%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    /* background-color: #EDF2EF; */
}

#header>#menu {
    display: flex;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#header>#menu>svg {
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}

#header>#menu>svg:hover {
    transition: all 0.2s;
    opacity: 90%;
}

#navigation {
    position: absolute;
    margin-top: 1px;
    min-width: 50px;
    left: 30px;
    top: 0;
    background-color: inherit;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    display: none;
    z-index: 2;
}

#navigation>p {
    /* font-size: 0.7rem; */
    text-align: center;
    cursor: pointer;
    margin: 0%;
    padding: 2%;
    transition: all 0.2s;
}

#navigation>p>a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

#navigation>p:hover {
    transition: all 0.2s;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
}

#header>#change_theme {
    position: fixed;
    bottom: 1%;
    display: flex;
    width: 25px;
    height: 25px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

#header>#change_theme>svg {
    width: 70%;
    height: 70%;
    transition: all 0.5s;
}

#root {
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

#app {
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: cover;
    animation: other 1.5s forwards;
    z-index: 1;
}

@keyframes other {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#app>#content {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app>#content>#text {
    width: 400px;
    height: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
}

#app>#content>#text>#verses {
    display: inline-block;
}

#app>#content>#text>#author {
    display: inline-block;
    min-width: 100%;
    text-align: end;
}

#button_slide {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 87%;
    right: 50%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: inherit;
    background-color: inherit;
    color: inherit;
    width: 40px;
    height: 30px;
}

#app>#content>#fonds {
    width: 400px;
    height: 450px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
}

#fond {
    width: inherit;
}

#fond>summary {
    list-style: none;
    list-style-position: inside;
    vertical-align: sub;
    cursor: pointer;
    width: inherit;
    height: 25px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: inherit;
}

#fond>summary::before {
    content: "â— ";
    color: inherit;
    position: relative;
    /* top: 0.08rem; */
    text-align: center;
    margin-right: 1px;
    margin-bottom: 1px;
}


#fond[open]>summary::before {
    color: brown;
}